body{
	background: #56CCF2 !important;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2) !important;  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #2F80ED, #56CCF2) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	margin: 0 !important;
	padding: 0 !important;
}

* {
  font-family: 'Roboto', sans-serif !important;
  color:white;
  font-weight: lighter !important;
}

a{
	color:white;
	text-decoration: none;
}

a:visited{
	color: white;
}

a:hover{
	color: white !important;
}
label{
	color: white !important;
	font-size: 18px !important;
	font-weight: normal !important; 
}





/*custom scrol bar*/
/* width */
::-webkit-scrollbar {
  width: 16px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #444;
  cursor: pointer !important;
}

